<mat-card class="mat-elevation-z19">
  <div class="btn-flex">
    <mat-card-title>Hr Details</mat-card-title>
  <button *ngIf="usercontact.status == true" style="cursor: pointer;" class="btn btn-success add-new" [routerLink]="['/dashboard','add']" >Add New Hr</button>

  </div>

  <mat-card-content>
    <table>
      <tr>
        <td class="column-title">Emp Id: </td>
        <td><strong>{{usercontact.empId}}</strong></td>
      </tr>
      <tr>
        <td class="column-title">Name: </td>
        <td><strong>{{usercontact.name}}</strong></td>
      </tr>
      <tr>
        <td class="column-title">Location: </td>
        <td><strong>{{usercontact.location}}</strong></td>
      </tr>
      <tr>
        <td class="column-title">Role: </td>
        <td><strong>{{usercontact.role}}</strong></td>
      </tr>

      <tr>
        <td class="column-title">Email Id: </td>
        <td><strong>{{usercontact.email}}</strong></td>
      </tr>
      <tr>
        <td class="column-title">Admin: </td>
        <td *ngIf="usercontact.status == true" style="color: green;"><strong>Yes</strong></td>
        <td *ngIf="usercontact.status == false"  style="color: red;"><strong>No</strong></td>
      </tr>
      <tr>
        <!-- <td class="column-title">Client Name: </td>
        <td>{{invoice.client.firstName}} {{invoice.client.lastName}}</td>
      </tr>
      <tr>
        <td class="column-title">Client Email: </td>
        <td>{{invoice.client.email}}</td>
      </tr>
      <tr>
        <td class="column-title">Total: </td>
        <td>${{total}}</td> -->
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button  class="btn btn-primary" [routerLink]="['/dashboard','edit']">Edit</button>
    <!-- <button  class="btn btn-light" [routerLink]="['dashboard','associates']">Back</button> -->
    <!-- <button  class="btn btn-success" >Change Password</button> -->
    <button class="btn btn-danger ml-5 " (click)="onCancel()">Cancel</button>

    <!-- <button mat-button>Download</button> -->
  </mat-card-actions>
</mat-card>
