<mat-toolbar  color="primary">
    <button class="sidenav-toggle" mat-button (click)="toogle()">
        <mat-icon class="mat-18">
            menu
        </mat-icon>
    </button>
    <span class="admin">Admin Panel</span>
    <span   class="user">Email-{{user}}</span>
    <span   class='role'>Role-{{role}}</span>

    <div class="menu-bar">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()" >
                <mat-icon>keyboard_backspace</mat-icon>
              <span>Logout</span>
            </button>


          </mat-menu>
    </div>


</mat-toolbar>
