.container {
  margin: 1rem 300px;
  mat-slide-toggle {
    margin: 1rem 3rem;
  }
}


mat-form-field {
  border-radius: 5px;
}


// .form-container {
//     display: flex;
//     flex-direction: column;
//   }
  
  // .form-container > * {
  //   width: 100%;
  // }
  .mat-card {
    width: 80%;
    box-shadow: 5px 5px 5px 5px lightgray;
    h2 {
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
    }
    .mat-Input {
      
      width: 80%;
      margin: 0 3rem;
    }
    .date-picker {
      width: 80%;
      margin: 0 3rem;
    }
  }
  .btn-mat {
    margin: 0 1.3rem;
    button {
      margin: 0 4rem;
    }
  }

@media (max-Width: 720px) {
    form {
      margin: 0 0 0 -2rem;
    }
    .mat-card {
        width: 250px;
      }
    .date-picker {
        width: 97%;
    }
    .btn-mat {
      margin: 0 0 0 3rem;
      button {
        margin: 0 1.4rem;
      }
    }
    
}

@media (max-Width: 1024px) {
  .container {
    margin: 0;
  }
    .mat-card {
        width: 250px;
      }
}
 