<div class="container">
    <mat-card>

        <!-- {{this.associateForm.value | json}} -->
        <h2>{{title}}</h2>
        <form class="form-container" [formGroup]="associateForm"  (ngSubmit)="onSubmit()">
            <mat-form-field class="mat-Input" appearance="fill" >
                <mat-label>Employee Id</mat-label>
                <input matInput placeholder="Employee Id" type="number"  formControlName="empId">
                <mat-error *ngIf="this.Controls.empId.touched &&  this.Controls.empId.invalid">Employee Id is required</mat-error>
                <mat-error *ngIf="Controls.empId.touched && Controls.empId.errors?.pattern"> Only 7 numbers are allowed</mat-error>
              
            </mat-form-field><br>
        
            <mat-form-field class="mat-Input" appearance="fill" >
                <mat-label>Name</mat-label>
                <input matInput placeholder="name" formControlName="name">
                <mat-error *ngIf="this.Controls.name.touched &&  this.Controls.name.invalid">Name is required</mat-error>
                <mat-error *ngIf="Controls.name.touched && Controls.name.errors?.pattern"> Only characters are allowed</mat-error>
            </mat-form-field><br>
            <!-- <mat-form-field class="date-picker"  appearance="fill">
                <mat-label>Choose a Start date</mat-label>
                <input matInput [matDatepicker]="date" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
              </mat-form-field><br>
        
            <mat-form-field  class="date-picker" appearance="fill">
                <mat-label>Choose a Due date</mat-label>
                <input matInput [matDatepicker]="due" formControlName="due">
                <mat-datepicker-toggle matSuffix [for]="due"></mat-datepicker-toggle>
                <mat-datepicker #due></mat-datepicker>
              </mat-form-field><br> -->
        
            <mat-form-field class="mat-Input"  appearance="fill">
                <mat-label>Location</mat-label>
                <input matInput placeholder="location"  formControlName="location">
                <mat-error *ngIf="this.Controls.location.touched && this.Controls.location.invalid">Location is required</mat-error>
            </mat-form-field><br>
        
            <mat-form-field class="mat-Input" appearance="fill">
                <mat-label>Role</mat-label>
                <input matInput placeholder="role"  formControlName="role">
                <mat-error *ngIf="this.Controls.role.touched && this.Controls.role.invalid">Role is required</mat-error>
            </mat-form-field><br>
        
            <mat-form-field class="mat-Input" appearance="fill">
                <mat-label>Email Id</mat-label>
                <input matInput placeholder="Email Id"  type="email" formControlName="email">
                <mat-error *ngIf="this.Controls.email.touched && this.Controls.email.invalid">Emaild is required</mat-error>
                <mat-error *ngIf="Controls.email.touched && Controls.email.errors?.email">Please enter valid email id</mat-error>
               
            </mat-form-field><br>

            <mat-form-field class="mat-Input" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password"  type="password" formControlName="password">
                <mat-error *ngIf="this.Controls.password.touched && this.Controls.password.invalid">Password is required</mat-error>
            </mat-form-field><br>

            <!-- <mat-form-field class="mat-Input" appearance="fill"> -->
                <!-- <mat-label>IsAdmin</mat-label> -->
                
                <mat-slide-toggle value="status" [(ngModel)]="isUnchecked"  formControlName="status"> IsAdmin </mat-slide-toggle>
                <!-- <mat-error *ngIf="this.Controls.status.invalid">Status is required</mat-error> -->
            <!-- </mat-form-field><br> -->
    
            <div class="btn-mat">
                <button 
               
                mat-raised-button type="button" 
                [disabled]="!associateForm.valid" 
                (click)="onSubmit()" color="primary">
                Save
            </button>
                
                <button mat-raised-button type="button" color="reset"  (click)="backToListing()">Cancel</button>
            </div>
    
        </form>
        
    
    
          
    </mat-card>
</div>


