<mat-card>
  <div class="m-3">
    <h2>Please upload Excell file </h2>
  </div>

    <!-- <form [formGroup]="uploadForm"> -->
    <form [formGroup]="uploadForm" >
      <div class="col-md-3 ml-3 form-group">
        <div class="custome-file">
          <input type="file"  class="custom-file-input" name="file"  (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        <label class="custom-file-label" #fileInput for="customInput">Choose file...</label>
        </div>

      </div>

      <div class="col-md-3 form-group">
            <label class="form-label">Date</label>
            <input type="date" class="form-control"   formControlName="date" value="Mark" max="{{this.date}}" >

      </div><br>
      <button class="ml-3 btn btn-primary" [disabled]="!uploadForm.valid" (click)="onSubmit()">Add</button>
    </form>

    <div>
    <form [formGroup]="showAssociate" >
        <button class="btn btn-primary mt-5 ml-3" (click)="show()">View Associate</button>
      <div class="col-md-3 form-group">
        <label class="form-label mt-3">Date</label>
        <input type="date" class="form-control" formControlName="date1" (click)="showAssociates()" max="{{this.date}}"  value="Mark" >
        <div class="col-md-3 position-relative">


      </div><br>
        <button class='btn btn-success' (click)="showAss()">Show</button>
        <div class="spinner" *ngIf="spinner">
          <mat-spinner ></mat-spinner>
        </div>
        <div class="content" *ngIf="!tableShow">
          {{noContent}}
        </div>
        <!-- <div *ngIf="f.date1.value ==  l.date.value"> -->
        <div *ngIf="tableShow" >
          <table  id="customers" class="mt-5 table table-striped" matSort (matSortChange)="sortData($event)">
              <tbody>
                <tr>
                    <th mat-sort-header="name">Name</th>
                    <th>Address</th>
                    <th>Phone No</th>
                    <th>Qualification</th>
                    <th mat-sort-header="exp">Experience</th>
                    <th>Interest</th>


                  </tr>
                  <tr *ngFor="let value of file |  paginate : {
                    id: 'listing_pagination',
                    itemsPerPage: 5,
                    currentPage: page,
                    totalItems: totalRecords
                  }">
                    <td>{{value.Name}}</td>
                    <td>{{value.address}}</td>
                    <td>{{value.phoneNo}}</td>
                    <td>{{value.Qualification}}</td>
                    <td>{{value.Experience}}</td>
                    <td>{{value.Interest}}</td>


                  </tr>
              </tbody>
          </table>
          <pagination-controls  id="listing_pagination"
                      (pageChange)="page =$event"

                      maxSize="9"
                      directionLinks="true"

                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>

  </div><br>
      </form>

    </div>



</mat-card>
<br>
<br>

